### From system defconfig
BR2_aarch64=y

# I'm pretty sure I didn't set/change these but I can't remember what selected them
BR2_cortex_a72=y
#BR2_cortex_a53=y
BR2_ARM_FPU_VFPV4=y

BR2_SYSTEM_DHCP="eth0"

BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y

BR2_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_DEFCONFIG)"

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.15.18"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/qemu/aarch64-virt/linux.config"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_HOST_QEMU=y
BR2_PACKAGE_HOST_QEMU_SYSTEM_MODE=y

### Own stuff
BR2_CCACHE=y
BR2_TARGET_GENERIC_ISSUE="Welcome! - Emmanuel Katwikirize"
BR2_TARGET_GENERIC_ROOT_PASSWD="password"
BR2_TOOLCHAIN_EXTERNAL=y

BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON3_SSL=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_NTP=y
# BR2_PACKAGE_NTP_NTPD is not set
BR2_PACKAGE_NTP_NTPDATE=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_EXT2_SIZE="512M"
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y

# Edit during labs:
# BR2_PRIMARY_SITE="http://192.168.137.24/dl"
BR2_CCACHE_DIR="./ccache-br"
BR2_ROOTFS_OVERLAY="overlay" # symlink

